:root {
  --federal-blue: #07004dff;
  --steel-blue: #2d82b7ff;
  --aquamarine: #42e2b8ff;
  --dutch-white: #f3dfbfff;
  --light-coral: #eb8a90ff;
}

.header {
  background-color: var(--steel-blue);
  padding: 1rem;
}
